name: Flutter CI/CD Pipeline

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout My Code
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin' # Use the Eclipse Temurin distribution
          java-version: '17'

      - name: Install Flutter Version 3.32.6
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.32.6' # Use the required Flutter version

      - name: Install Dependencies
        run: flutter pub get

     # - name: Run Our Test
      #  run: flutter test
      - name: Accept Android SDK Licenses
        run: yes | $ANDROID_SDK_ROOT/cmdline-tools/latest/bin/sdkmanager --licenses



      - name: Build APK
        run: flutter build apk --release




      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: release-apk
          path: build/app/outputs/flutter-apk/*.apk


